/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 *
 * RESPONSIVE
 * Sizes
 *
 */


/* SETTINGS */

/* Global */

$btn: #C06C84;
$active: #F67280;
$hover: #F8B195;
$search-border: #C06C84;
$book-border: #6C5B7B;
$book-bg: #355C7D;

body {
	background-image: url("../img/background.jpg");
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
}

.row {
	margin: 0 0;
}

a {
	color: #666;
	text-decoration: none;
	&:hover {
		color: $hover;
	}
	&:active {
		color: $hover;
	}
	&:focus {
		color: $hover;
	}
}

.small {
	font-size: 12px;
}

.tutorial {
	font-size: 12px;
	font-style: italic;
	margin-top: 15px;
	font-family: verdana, sans-serif;
	color: #666;
}

.pull-right {
	font-family: verdana, sans-serif;
	font-size: 14px;
	margin-top: -4px;
}

 /* OBJECTS */

 /* Wrappers */

form {
	margin-top: 80px;
}

#search {
	border: 1px solid $search-border;
 	border-radius: 3px;
 	&:hover {
		border: 1px solid $hover;
	}
}

#list {
	margin-top: 80px;
	padding-left: 0;
	li {
		border: 1px solid $book-border;
		border-radius: 3px;
		list-style-type: none;
		padding: 10px;
		background: white;
		color: $book-border;
		margin-bottom: 10px;
		font-family: Roboto, Arial, sans-serif;
		&:hover {
			cursor: move;
			border: 1px solid $hover;
			}
		}
}


/* COMPONENTS */

/* Buttons */

.btn {
	color: white;
	border-radius: 3px;
	margin-left: 5px;
	background: $btn;
	border: 1px solid $book-border;
	font-family: Raleway, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	&:hover {
		color: white;
		background: $active;
		border: 1px solid $hover;
	}
	&:active {
		color: white;
		background: $active;
		border: 1px solid $hover;
	}
	&:focus {
		color: white;
	}
}

/* FOOTER */

footer {
	a:hover {
		text-decoration: none !important;
	}
	a:active {
		text-decoration: none !important;
	}
	a:focus {
		text-decoration: none !important;
	}
	font-size: 12px;
	font-style: italic;
}


/* RESPONSIVE */

/* Sizes */

@media screen and (max-width: 1450px) {
	.btn {
		font-size: 12px;
	}
	.tutorial {
	font-size: 10px;
	}
}

@media screen and (max-width: 767px) {
	.tutorial {
 		font-size: 8px;
 	}
	body {
		font-size: 14px;
	}
	#container {
   		overflow-x: hidden;
    	width: 100%;
  	}
	#list, form {
 		margin-top: 50px;
 	}
 	.small {
		font-size: 10px;
	}
 	.btn {
		display: none;
 	}
}