/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 *
 * RESPONSIVE
 * Sizes
 *
 */


/* SETTINGS */

/* Global */

$btn: #5F9A9F;
$btn-hover: #467B7F;
$search-border: #5F9A9F;
$book-border: #774F38;
$book-bg: #AF8D82;

body {
	background-image: url("../img/wov.png");
    background-repeat: repeat;
    font-family: Lora, Arial, sans-serif;
    font-size: 16px;
}

.small {
	font-size: 12px;
}

.tutorial {
	font-size: 12px;
	font-style: italic;
	margin-top: 15px;
	font-family: verdana, sans-serif;
	color: #666;
}


 /* OBJECTS */

 /* Wrappers */

form {
	margin-top: 80px;
}

#search {
	border: 2px solid $search-border;
 	border-radius: 3px;
}

#list {
	margin-top: 80px;
	padding-left: 0;
	li {
		border: 2px solid $book-border;
		border-radius: 3px;
		list-style-type: none;
		padding: 10px;
		background: $book-bg;
		color: white;
		margin-bottom: 10px;
		font-family: Lora, Arial, sans-serif;
		&:hover {
			cursor: move;
			}
		}
}


/* COMPONENTS */

/* Buttons */

.btn {
	margin-left: 5px;
	background: $btn;
	border: $btn;
	font-size: 24px;
	font-weight: bold;
	&:hover {
		background: $btn-hover;
	}
	&:active {
		background: $btn-hover !important;
	}
	&:focus {
		background: $btn-hover;
	}
}


/* RESPONSIVE */

/* Sizes */

@media screen and (max-width: 767px) {
	.tutorial {
 		font-size: 8px;
 	}
	body {
		font-size: 14px;
	}
	#container {
   		overflow-x: hidden;
    	width: 100%;
  	}
	#list, form {
 		margin-top: 50px;
 	}
 	.small {
		font-size: 10px;
	}
 	.btn {
		display: none;
 	}
}